:root {
    --color-principal: #E5E5E5;
    --color-secundario: #FFFFFF;
    --fondo-boton-primario: #0A3871;
    --fondo-boton-secundario: #D8DFE8;

    

    --color-fuente-primario: #0A3871;
    --color-fuente-secundario: #FFFFFF;


}